
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    border-radius: 8px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapperList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    border-radius: 5px;
    width: 250px;
    height: 30px;
    border: 1px solid;
    margin-top: 20px;
}
.closeButton {
    height: 30px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: black;
    color: white;
}
button {
    background-color: #9090da;
    height: 30px;
    margin-top: 70px;
    padding: 10px 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 20px rgba(52, 49, 56, 0.75);
}
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
}
.text {
    text-decoration: underline;
}
.ulItem {
    margin-top: 15px;
    width: 200px;
    height: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 4px 4px 20px rgba(185, 186, 185, 0.75);
}
.todoList {
    margin-top: 40px;
}
